@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700&display=swap');

body {
	font-family: 'Roboto', sans-serif !important;
	font-size:12px!important;
    text-align:left;
    color: rgb(90, 90, 90) !important;
	background-color:#F5F5F5 !important;
	background-size:cover;
}

body.login{
    background-color:#002a54 !important;
}

hr{
    margin:1px 0 20px 0!important;
    border-top: 3px solid #eceff1;
}

a{
	font-family: 'Roboto', sans-serif !important;
	font-size:12px!important;
	color:#555 !important;
	text-shadow:0px 0px 1px #F4F4F4 !important;
    cursor:pointer !important;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

a:hover{
    color: 5db230;
	text-decoration:none !important;
	text-shadow:0px 0px 0px #CCC !important;
}
.a-acao{
    cursor:pointer !important;
}
.a-acao-login{
	font-family: 'Roboto', sans-serif !important;
	font-size:12px!important;
	color:#002a54 !important;
	text-shadow:0px 0px 1px #F4F4F4 !important;
    cursor:pointer !important;
}
.a-acao-menu{
	font-family: 'Roboto', sans-serif !important;
    font-size:14px!important;
    font-weight: 500;
	color: rgb(90, 90, 90) !important;
	text-shadow:0px 0px 1px #F4F4F4 !important;
    cursor:pointer !important;
}
.a-acao-correio{
	font-size:14px !important;
    font-weight: normal !important;
    color:#5db230  !important;
    background-color: #FFF;
	border:1px solid #5db230  !important;
	text-shadow:0px 0px 0px rgba(153,100,164,1) !important;
	margin:0 0 0 1px !important;
	padding:15px!important;
    border-radius: 5px !important;
    float: left;
}
.a-acao-correio:hover{
    background-color:#468028 !important;
    color:#FFF !important;
}
.a-acao-docuso{
	font-size:14px !important;
    font-weight: normal !important;
    color:#0e11a8  !important;
    background-color: #FFF;
	border:1px solid #0e11a8  !important;
	text-shadow:0px 0px 0px rgba(153,100,164,1) !important;
	margin:0 0 0 1px !important;
	padding:15px!important;
    border-radius: 5px !important;
    float: left;
}
.a-acao-docuso:hover{
    background-color:#02035e !important;
    color:#FFF !important;
}
.ul-menu{
    width: 100%;
    padding: 0!important;
}
.ul-menu li{
    float: inherit!important;
    padding: 2px;
    border-radius: 5px 0px 0 5px;
    margin: 0px;
}
.ul-menu li:hover{
    background-color: #FFF;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;

}
.ul-menu li:hover i,.ul-menu li:hover a{
    color:#002A54!important;
}
.ul-menu li span{
    font-size: 12px;
    width: 20px;
    color:#5DB230  !important;
}
.ul-menu ul{
    display: none;
    padding-left: 25px!important;
}
.ul-menu li:hover > ul {
    display: block;
}

.a-acao-menuresponsivo{
    line-height: 30px;
}
.a-menu{
    display: block;
	font-family: 'Roboto', sans-serif !important;
	font-size:14px!important;
	color:#f1e8e8  !important;
    cursor:pointer !important;
    margin: 4px 5px 4px 30px!important;
}
.btn-group, .btn-group-vertical {
    width: 100%;
}
.btn,.fileuploader-input-button{
	font-size:11px !important;
    font-weight: normal !important;
	color:#FFF !important;
	background-color:#5db230 !important;
	text-shadow:none !important;
	border:none !important;
	margin:4px !important;
	padding:10px!important;
    border-radius: 5px !important;
    float: left;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.btn:hover{
	background-color:#468028 !important;
}

.btn-editar{
	font-size:14px !important;
    color:#002a54 !important;
    background-color: #FFF !important;
}
.btn-editar:hover{
    color:#FFF !important;
    background-color: #002a54 !important;
}
.btn-editar-plus{
	font-size:14px !important;
    background-color: #ffffff !important;
    color: #002a54!important;
}
.btn-editar-plus:hover{
    color: #5db230!important;
    background-color: #ffffff !important;
}
.btn-informar{
	font-size:14px !important;
    color:#002a54 !important;
    background-color: #FFF !important;
}
.btn-informar:hover{
    color:#FFF !important;
    background-color: #5db230 !important;
}
.btn-favoritar{
	font-size:14px !important;
    color:#002a54 !important;
    background-color: #FFF !important;
}
.btn-favoritar:hover{
    color:#FFF !important;
    background-color: #5db230 !important;
}
.btn-ver{
	font-size:14px !important;
    color:#5db230 !important;
    background-color: #FFF !important;
}
.btn-ver:hover{
    color:#FFF !important;
    background-color: #5db230 !important;
}
.btn-excluir{
	font-size:14px !important;
    color: #f77a7a !important;
    background-color: #FFF !important;
}
.btn-excluir:hover{
    color:#FFF !important;
    background-color: #f77a7a !important;
}

.btn-sub{
    background-color:#999 !important;
}

.btn-sub:hover{
    background-color:#6f6e6e !important;
}
.btn-usuario{
    min-width: 160px;
	font-size:12px !important;
    font-weight: normal !important;
    color:#FFF  !important;
    background-color: #5db230;
	border:1px solid #5db230  !important;
	text-shadow:0px 0px 0px rgba(153,100,164,1) !important;
	margin:0 0 0 1px !important;
	padding:15px!important;
    border-radius: 5px !important;
    float: left;
}
.btn-usuario:hover{
    background-color:#468028 !important;
    color:#FFF !important;
}
.btn-select {
	width:100%;
	margin-bottom:10px;
	float:left;
    font-size:12px;
    text-align: left;
    padding:8px;
    resize:none;
	border:none !important;
    border-bottom: 1px solid #ddd !important;
    border-radius: 5px;
	background-color:#FFF !important;
}

blockquote{
	font-family: 'Roboto', sans-serif !important;
	font-size:12px;
	text-align:justify;
    font-style: italic;
}

.input-file[type='file'] {
    display: none
}
label.label-file {
    background-color: #5db230;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 6px 20px
}
p {
	font-family: 'Roboto', sans-serif !important;
	font-size:12px;
}

p span{
	font-size:14px;
	color:rgba(222, 9, 102, 1) !important;
}
p.p-center{
    text-align: center;
}
p.p-branco{
	color:#FFF !important;
}
p.p-verde{
	color:#5db230 !important;
}
.span-success {
    color: #5DB230!important;
    font-size: 14px!important;
    font-weight: 100;
}

.span-warning {
    color: #FF9100!important;
    font-size: 14px!important;
    font-weight: 100;
}

.span-danger {
    color: #D80909!important;
    font-size: 14px!important;
    font-weight: 100;
}

img{ 
    border:0; 
    vertical-align:top;
	max-width:100%;
}

h1{
    font-family: 'Roboto', sans-serif !important;
    font-size: 36px !important;
    font-weight: 300;
    color: #b9b6b6 !important;
    text-align: left;
    margin: 0px 0 15px 0!important;
}
@media screen and (max-width: 900px) {
    h1{
        font-size: 26px !important;
        line-height: 45px;;
    }
}
h2{
	color:#4B8F27 !important;
	font-family: 'Roboto', sans-serif !important;
    font-size:18px !important;
	text-align:left;
	margin:15px 0 15px 0!important;
}

h5{
    font-size: 18px!important;
    color: #797979!important;
}

.control-label-sub{
    font-weight: 100!important;
    color: #6d6d6d!important;
}

ul{
	list-style:none;
}

ul li{
	position:relative;
	display:block;
	float:left;
}

.form-control,input[type=text],input[type=password],input[type=email],input[type=select] {
	margin-bottom:10px;
    width:100%;
    font-size: 12px;
    padding:6px !important;
    resize:none;
	border:none !important;
    border-bottom: 1px solid #ddd !important;
    border-radius: 0px;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.fileuploader-input-caption{
    width:100%;
	margin-bottom:10px;
	float:left;
    padding:10px 10px 9px 10px !important;
    resize:none;
	border:none !important;
    border-bottom: 1px solid #ddd !important;
    border-radius: 0px;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.fileuploader-input{
    border:none;
}
.fileuploader {
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    line-height: normal;
    text-align: left;
    overflow: hidden;
    margin-bottom: 20px;
}
@media screen and (max-width: 900px) {
    .responsive-hide{
        display: none;
    }
}
@media screen and (min-width: 900px) {
    .responsive-show{
        display: none;
    }
}

.select-cliente {
    width:70%!important;
    width: 100%!important;
    border: 1px solid #5db230 !important;
    border-radius: 5px !important;
    padding: 15px;
    height: 50px!important;
    font-size:14px !important;
}

input[type=checkbox] {
	margin:0;
}

input::-webkit-input-placeholder {
	font-family: 'Roboto', sans-serif !important;
	font-size:12px;
	color:#999;
	font-size:12px !important;
	font-weight:100 !important;
}

input::-moz-placeholder { 
	font-family: 'Roboto', sans-serif !important;
	font-size:12px;
	color:#999;
	font-size:12px !important;
	font-weight:100 !important;
}

input:focus {
	outline: none;
}
.form-control{
    font-size:12px;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #f8f8f8;
    opacity: 1;
}
textarea{
	width:100%;
	padding:20px;
    resize:none;
	font-size:14px;
	border:none !important;
}

textarea::-webkit-input-placeholder {
	font-family: 'Roboto', sans-serif !important;
	font-size:12px;
	color:#999;
	font-size:12px !important;
	font-weight:100 !important;
}

textarea::-moz-placeholder { 
	font-family: 'Roboto', sans-serif !important;
	font-size:14px;
	color:#999;
	font-size:12px !important;
	font-weight:100 !important;
}

textarea[readonly], textarea[readonly="readonly"] {
    background-color: #4FF4F4;
}
.modal-body {
    max-height: 400px;
    overflow-y: scroll;
}
.tablebah {
    width: 100%;
    background-color: #FFF;
    padding: 2% !important;
    border-radius: 5px !important;
}
.tablebah > thead > tr > th,
.tablebah > tbody > tr > th,
.tablebah > tfoot > tr > th,
.tablebah > thead > tr > td,
.tablebah > tbody > tr > td,
.tablebah > tfoot > tr > td {
    color: #555;
    border-bottom: 1px solid #F1F1F1 !important;
    padding-left: 1%!important;
    /*line-height: 20px;*/
    padding: 5px !important;
    white-space: nowrap;
}
.tablebah > tbody > tr > td {
    color: #7C7B7B;
}
.tablebah > tbody > tr > td {
    color: #7C7B7B;
}
.tablebah > tbody > tr > td.td-tablebah:hover{
    cursor: pointer;
    background-color: #f0f4f7;
}
.tablebah > thead > tr > th > span {
    font-size: 10px;
    color: #797878;
}
.tablebah > thead > tr > th > span >span {
    font-size: 8px;
    font-weight: bold;
    color: #5db230;
}
.tablebah td:first-child, th:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #FFF;
}
.tablebah thead tr th{
    position: sticky;
    top: 0;
    background-color: #FFF;
}
.tablebah thead tr th:first-child{
    z-index:2;
}
.tablebah tbody tr:first-child td:first-child {
    z-index:3; 
}

.tablebah tr:nth-child(even) {background: #FFF}
         
.tablebah tr:nth-child(odd) {background: #eceff1}

.tablepainel {
    width: 100%;
    background-color: #FFF;
    padding: 2% !important;
    border-radius: 5px !important;
}
.tablepainel > thead > tr > th,
.tablepainel > tbody > tr > th,
.tablepainel > tfoot > tr > th,
.tablepainel > thead > tr > td,
.tablepainel > tbody > tr > td,
.tablepainel > tfoot > tr > td {
    color: #555;
    border-bottom: 1px solid #F1F1F1 !important;
    padding-left: 1%!important;
    line-height: 20px;
    padding: 10px 0px 10px 0px !important;
    font-size: 14px;
}
.tablepainel > thead > tr > th {
    color: #555;
    font-size: 20px;
    font-weight: 400;
}
.tablepainel > thead > tr > th > i {
    font-size: 14px;
    font-weight: 100;
}
.tablepainel .span-data {
    color: #5db230;
    font-size: 10px;
    font-weight: 100;
}
.span-texto {
    display: block;
    height: 80px;
    overflow:auto;
}
.certificado {
    color: rgb(14, 152, 177)!important;
}
.coleta {
    color: #A356C9!important;
}
.servico {
    color: #FF9100!important;
}
.upload {
    color: #5DB230!important;
}
.tablepainel > tbody > tr > td > span {
    color: #5DB230;
    font-size: 8px;
}
.tablepainel > tbody > tr > td {
    color: #7C7B7B;
}
.tr-linha:hover,.tr-notificacao:hover {
    cursor: pointer;
    background-color: rgb(245, 245, 245)!important;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
@media screen and (max-width: 900px) {
    .tdoculta {
        display: none;
    }
}
.aside {
    width: 250px;
    height: 100vh;
    background: #002A54;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    z-index: 9999;
}
.aside-header {
    height: 90px;
    background: #5DB230;
    padding: 20px;
}
.aside-client {
    height: 50px;
    display: none;
}
@media screen and (max-width: 900px) {
    .aside-client {
        display: inherit;
    }
}
.aside-body {
    margin: 20px 0 100px 0;
}
.aside-footer{
    position: absolute;
    bottom: 20px;
    width: 200px;
}
.wrapper {
    height: 100vh;
    width: calc( 100vw - 250px );
    left: 250px;
    position: absolute;
    top: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #ECEFF1;
    padding-bottom: 100px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;

}
@media screen and (max-width: 900px) {
    .wrapper {
        width: calc( 100vw);
        left: 0px;
    }
}
.wrapper-responsive {
    left: 250px;
}
.navbar {
    width: 100%;
    height: 90px;
    background: #FFF;
    border-radius: 0;
}
.navbar-title-bars{
    display: none;
    padding: 35px;
    float:left;
}
@media screen and (max-width: 900px) {
    .navbar-title-bars{
        display:inherit;
    }
}
.navbar-title-h1{
    padding: 20px;
}
.navbar-info div{
    float: right;
    padding: 20px;
    position: inherit;
}
.navbar-info-sair{
    margin: 10px 10px 0 0;
}
.container-fluid {
    padding-right: 1%;
    padding-left: 1%;
    margin-right: auto;
    margin-left: auto;
}

.dropdown-menu{
	border:none !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}
.dropdown-menu > li {
	float:initial;
}
.dropdown-menu > .active > a, .dropdown-menu > .active{
	background-color: #DFF0D8 !important;
}
.dropdown-usuario{
    position: absolute;
    top: 80%;
    left: 10%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    border: 1px solid #727272;
    border-top: none;
    box-shadow: none;
    border-radius: 0 0 5px 5px;

}
.col-box{
    padding: 2px 20px 20px 20px!important;
    background-color: #0249752e;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    
}

.col-breadcrumb{
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
    background-color: #E7E7E7;
    padding: 1% !important;
}
.col-auditoria{
    padding: 0 !important;
    color: #002a54;
    font-size: 10px;
}
.col-auditoria span{
    color: #5db230;
    font-size: 8px;
}
.col-paginacao{
    padding: 0 !important;
}
.col-paginacao span{
	font-size: 14px !important;
    color: #5db230 !important;
    text-shadow: 0px 0px 0px rgba(153,100,164,1) !important;
    padding: 10px!important;
    float: left;
}

.col-paginacao a,
.col-paginacao strong{
	font-size:14px !important;
    font-weight: normal !important;
	color:#999 !important;
	background-color:rgba(221,221,221,1) !important;
	text-shadow:0px 0px 0px rgba(153,100,164,1) !important;
	border:none !important;
	margin:0 0 0 1px !important;
	padding:10px!important;
    border-radius: 5px !important;
    float: left;
}

.col-paginacao strong{
	background-color:#a9a9a9 !important;
	color:#FFF !important;
}

.col-paginacao a:hover{
	background-color:#a9a9a9 !important;
	color:#FFF !important;
}

.col-equipe{
    height: 300px;
    padding: 30px!important;
    margin: 0 0 20px 0!important;
    border: 0px solid #cfd9db!important;
    border-radius: 5px;
    background-color: #FFF;
    font-size: 14px;
}
.col-equipe img{
    border: 2px solid #5db230!important;
}
.col-equipe h5{
    font-size: 18px;
    color: #5db230!important;
}
.col-equipe p{
    font-size: 14px;
    color: #555!important;
}
.col-equipe span{
    color: #002a54!important;
}
.col-equipe hr{
    margin: 20px 0 20px 0!important;
}
#div-loading{
    position: fixed;
    display: block;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: #ffffff15;
    z-index: 999999999;
}
#div-loading img{
    width: 5%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

.div-container-login{
    min-height: 100vh;

    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 

    /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
    -webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;

    /* In legacy web browsers such as Firefox 9
    we need to specify the width of the flex container */
    width: 100%;

    /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
    hence the bootstrap's container won't be aligned to the center anymore.

    Therefore, we should use the following declarations to get it centered again */
    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
    -webkit-justify-content : center;
    justify-content : center;
}
.div-login{
    width: 390px;
    max-width: 100%;
}
.div-login-header{
    width: 100%;
    padding: 3%;
    border-radius: 10px 10px 0 0;
    background-color: #5db230!important;
}
.div-login-body{
    display: inline-block;
    width: 100%;
    padding: 10px 40px 0 40px;
    border-radius: 0px;
    background-color: #FFF!important;
}
.div-login-footer{
    width: 100%;
    height: 20px;
    border-radius: 0 0 10px 10px;
    background-color: #5db230!important;
}

#div-logar{
    margin: 5% !important;
}

#div-recuperar{
	display:none;
    margin: 5% !important;
}

#div-cliente{
	display:none;
    margin: 5% !important;
}

.div-equipe{
    height: 100px;
	display:block;
    border: 0px solid #000;
}
.div-operacao {
    font-size:16px;
    color: #999;
}

.div-operacao-text{
    padding: 5px 0;
}
.div-operacao-text input{
    border-radius: 5px !important;
}
.div-operacao-check{
    font-size: 14px!important;
    padding: 10px 0 0 15px;
}

.painel-mes{
    width: 40px!important;
    margin-right: 5px;
}

.painel-ano{
    width: 50px!important;
    margin-right: 5px;
}

.div-painel {
    font-size:16px;
    color: #999;
    width: 100%;
    min-height: 40px;
    margin: 0 0 15px 0;
    border-radius: 5px !important;
}
.div-painel-icone {
    padding: 50px 0 0px 30px;
    font-size: 3vw;
}
.div-painel-texto {
    padding: 45px 10px;
    line-height: 30px;
}
.div-painel-texto span{
    color: #555;
}
.div-painel-contador {
    padding: 40px 0 0 0;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
}
.div-painel strong{
    font-size:30px;
}
.div-painel-success {
    border: 1px solid #b6e4a3;
    background-color: #FFF;
}
.div-painel-warning {
    color: #FF9100;
    border: 1px solid #ff910040;
    background-color: #FFF;
}
.div-painel-danger {
    color: #D80909;
    border: 1px solid #d809092e;
    background-color: #FFF;
}
.div-painel-chart {
    color: #5db230;
    border: 1px solid #5db23059;
    padding: 5%;
    background-color: #f9f9f9;
}
.div-painel-busca-check{
    margin: 10px;
    font-size: 14px;
}
.div-box{
    display: flex;
}
.div-box-0{
    float: left;
    width: 1%;
}
.div-box-20{
    float: left;
    width: 21.3%;
    border-radius: 5px !important;
    padding: 30px;  
    margin: 0 0 20px 0;
    background-color: #FFF;
}
.div-box-30{
    float: left;
    width: 33%;
    border-radius: 5px !important;
    padding: 30px;  
    margin: 0 0 20px 0;
    background-color: #FFF;
}
.div-box-40{
    float: left;
    width: 43.5%;
    border-radius: 5px !important;
    padding: 30px;  
    margin: 0 0 20px 0;
    background-color: #FFF;
}
.div-box-60{
    float: left;
    width: 66%;
    border-radius: 5px !important;
    padding: 30px;  
    margin: 0 0 20px 0;
    background-color: #FFF;
}
@media screen and (max-width: 1100px) {
    .div-box{
        display:inherit;
    }
    .div-box-0{
        display: none;
    }
    .div-box-20{
        width: 100%;
    }
    .div-box-30{
        width: 100%;
    }
    .div-box-40{
        width: 100%;
    }
    .div-box-60{
        width: 100%;
    }
}
.div-table {
    border-radius: 5px !important;
    padding: 10px 20px 10px 20px;  
    margin: 0 0 20px 0;
    background-color: #FFF;
    overflow: auto;
}
.div-table-fixed {
    overflow: auto;
    height: 75vh;
    width:100%
}
.div-form {
    border-radius: 5px !important;
    padding: 30px;  
    margin: 0 0 20px 0;
    background-color: #FFF;
}
.div-form-sub {
    border-radius: 5px !important;
    padding: 30px 15px;  
    margin: 0 0 20px 0;
    background-color: #F5F5F5;
}
.div-form-sub hr{
    margin:1px 0 20px 0!important;
    border-top: 1px solid #FFF;
}
#codeigniter_profiler {
	margin-top:300px!important;
	position: relative;
	z-index: 999;
}

footer{
    margin: 20px 0 20px 0 !important;
}

.id-backtop {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

.col-termodeuso{
    width: 100%;
    padding: 2%;
    margin-bottom: 40px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    background-color: #ece5e5;
}
.col-termodeuso_{
    width: 100%;
    height: 300px;
    overflow-y: scroll;
}
.panel{
    border:none!important;
}
.panel-group {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #FFF;
    border-radius: 5px;
}
.panel-title{
    font-size:22px !important;
    font-weight: 700;
	color:#555 !important;
	text-align:left;
	margin:0px 0 5px 0!important;
}
.panel-default hr{
    border-top: 1px solid #eceff1!important;
}
.panel-default>.panel-heading{
    background-color: #FFF!important;
}
.panel-default>.panel-heading span{
    color: #5DB230;
    margin: 10px 20px 0 10px;
    font-size: 14px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;

}
.panel-custom>.panel-heading .glyphicon{
    font-size: 10px !important;
}

.list-group{
    margin-bottom: 0 !important;
}
.list-group-item{
    font-size:10px !important;
    font-weight: 300;
	color:#555 !important;
}
.list-group-item-small{
    padding: 7px 15px!important;
    width: 50px;
    text-align: center
}
.list-group-item-success {
    background-color: #FFF!important;
    color: #5DB230!important;
    border: none;
    font-size: 12px!important;
    font-weight: 700;
    padding: 0;
}

.list-group-item-warning {
    background-color: #FFF!important;
    color: #FF9100!important;
    border: none;
    font-size: 12px!important;
    font-weight: 700;
    padding: 0;
}

.list-group-item-danger {
    background-color: #FFF!important;
    color: #D80909!important;
    border: none;
    font-size: 12px!important;
    font-weight: 700;
    padding: 0;
}
.list-group-item-coleta {
    background-color: #9caf84c0 !important;
}

.list-group-item-servico {
    background-color: #7694ada9 !important;
}

.list-group-item-upload {
    background-color: #995e779f !important;
}

/* Calendario */
.div-calendario{
    border:none;
    width: 100%;
    /* max-width: 400px; */
}
.div-calendario > .div-calendario-nav{
    width: 94%;
    display: table;
    border: 0px solid #000;
    margin: 3%;
}
.div-calendario > .div-calendario-nav > .div-calendario-nav-voltar{
    width: 10%;
    float:left;
    text-align: left;
    font-size: 20px;
}
.div-calendario > .div-calendario-nav > .div-calendario-nav-data{
    width: 80%;
    text-align: center;
    color: #002A54;
    font-size: 20px;
    float:left;
}
.div-calendario > .div-calendario-nav > .div-calendario-nav-avancar{
    width: 10%;
    float:left;
    text-align: right;
    font-size: 20px;
}
.div-calendario-nav-voltar:hover,.div-calendario-nav-avancar:hover{
    cursor: pointer;
    color: #5DB230;
}
.div-calendario > .div-calendario-diasemana{
    width: 100%;
    display: table;
    border: 0px solid #000;
}
.div-calendario > .div-calendario-diasemana div{
    height: 40px;
    width: 14.25%;
    float: left;
    position: relative;
    font-weight: bold;
    text-align: center;
    color: #5db230;
    padding: 20px 0 40px 0;
    border: 0px solid #000;
}
.div-calendario > .div-calendario-dia{
    width: 100%;
    display: table;
    border: 0px solid #000;
}
.div-calendario > .div-calendario-dia div{
    float: left;
    width: 14.25%;
    text-align: center;
    border: 0px solid #000;
}
.div-calendario > .div-calendario-dia div span{
    padding: 9px 0 0px 0px;
    width: 35px;
    height: 35px;
    border-radius: 20px !important;
    display: block;
    margin: auto auto 4px auto;
}
.div-calendario > .div-calendario-dia div span.span-calendario-diaferiado{
    color: #CCC;
    border:1px solid #CCC;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.div-calendario > .div-calendario-dia div span.span-calendario-diaobrigacao{
    border:1px solid #002A54;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.div-calendario > .div-calendario-dia div span.span-calendario-diaobrigacao:hover{
    background-color: #002A54;
    color: #FFF;
    cursor:pointer;
}
.div-calendario > .div-calendario-dia div span.span-calendario-diaatual{
    color: #5db230;
    font-weight: 600;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    color: #5db230;
}




